<section id="resumes" class="section wow fadeInUp">
    <div class="container-section">
        <div class="row">
            <div class="section-title">
                <h4>Resumes</h4>
            </div>
        </div>
        <div class="resume-section education">
            <div class="timeline-container">
                <div class="timeline-block wow fadeInLeft">
                    <div class="timeline-img" data-anim-effect="zoomIn">
                        <i>2016</i>
                    </div>

                    <div class="timeline-content" data-anim-effect="fadeInLeft">
                        <h2>Google Inc.</h2>
                        <p>Intern ( July 2016 - Present)</p>
                    </div>
                </div>

                <div class="timeline-block wow fadeInRight">
                    <div class="timeline-img" data-anim-effect="zoomIn" data-anim-delay="100">
                        <i>2014</i>
                    </div>

                    <div class="timeline-content" data-anim-effect="fadeInRight" data-anim-delay="100">
                        <h2>Apple Inc.</h2>
                        <p>Front End Developer ( Jan 2014 - Dec 2015 )</p>
                    </div>
                </div>

                <div class="timeline-block wow fadeInLeft">
                    <div class="timeline-img" data-anim-effect="zoomIn" data-anim-delay="200">
                        <i>2013</i>
                    </div>

                    <div class="timeline-content" data-anim-effect="fadeInLeft" data-anim-delay="200">
                        <h2>Facebook co.</h2>
                        <p>Manager Web Development ( Jan 2013 - Dec 2013 )</p>
                    </div>
                </div>
                <div class="timeline-block wow fadeInRight">
                    <div class="timeline-img" data-anim-effect="zoomIn" data-anim-delay="200">
                        <i>2012</i>
                    </div>

                    <div class="timeline-content" data-anim-effect="fadeInLeft" data-anim-delay="200">
                        <h2>DDB Worldwide</h2>
                        <p>Intern ( July 2012 - Dec 2013 )</p>
                    </div>
                </div>
                <div class="timeline-block wow fadeInLeft">
                    <div class="timeline-img" data-anim-effect="zoomIn" data-anim-delay="200">
                        <i>2010</i>
                    </div>

                    <div class="timeline-content" data-anim-effect="fadeInLeft" data-anim-delay="200">
                        <h2>Maronia Software</h2>
                        <p>Intern ( July 2009 - Dec 2010 )</p>
                    </div>
                </div>
                <div class="timeline-block wow fadeInLeft">
                    <div class="timeline-img" data-anim-effect="zoomIn" data-anim-delay="200">
                        <i>2009</i>
                    </div>

                    <div class="timeline-content" data-anim-effect="fadeInLeft" data-anim-delay="200">
                        <h2>Marosoft Co.</h2>
                        <p>Intern ( July 2008 - Dec 2009 )</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>