<section id="skills" class="section wow fadeInUp">
    <div class="container-section">
        <div class="row">
            <div class="section-title">
                <h4>Skills</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 skill">
                <h2>marketable skills</h2>

                <div class="progress">
                    <div class="lead"> <i class="fa fa-desktop" aria-hidden="true"></i> Web Technology </div>
                    <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>75%</span></div>
                </div>
                <div class="progress">
                    <div class="lead"> <i class="fa fa-mobile" aria-hidden="true"></i> Single Page Application </div>
                    <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>75%</span></div>
                </div>
                
                <div class="progress">
                    <div class="lead"> <i class="fa fa-server" aria-hidden="true"></i> Backend Knowledge </div>
                    <div class="progress-bar wow fadeInLeft" data-progress="97%" style="width: 97%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>97%</span> </div>
                </div>  
            </div>

            <div class="col-sm-6 skill">
                <h2>TRANSFERABLE SKILLS</h2>
                <div class="progress">
                    <div class="lead"><i class="fa fa-comments" aria-hidden="true"></i> Communication </div>
                    <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>75%</span></div>
                </div>

                <div class="progress">
                    <div class="lead"><i class="fa fa-users" aria-hidden="true"></i> Team Work</div>
                    <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>80%</span> </div>
                </div>
                  
                <div class="progress">
                    <div class="lead"><i class="fa fa-clock-o" aria-hidden="true"></i> Time Management </div>
                    <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 90%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>70%</span> </div>
                </div>

            </div> 
        </div>

        </div>
</section>

    <div class="container-section">
        
        <div class="container">

            
       
        <div class="row skill-language">
             <div class="col-md-12 col-sm-12">
                <div class="skills wow fadeInUp">
                 
                     <div class="col-md-3" align="center">
                          <div class="load">
                       <div style="font-size: 18px; font-weight: bold; " align="center">HTML5</div><br>
                       <div class="outer-shadow" style="height: 150px;width: 150px; color: white">
                       <img src="assets/imgs/Html5-logo.png" width="150" height="150" alt=""/>
                      </div>
                      
                     
                      <div class="hold left" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                      <div class="hold right" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                       </div>
                       
                    </div>  
                      
                     
                      <div class="col-md-3" align="center">
                          <div class="load">
                       <div style="font-size: 18px; font-weight: bold; ">CSS3</div><br>
                       <div class="outer-shadow" style="height: 150px;width: 150px; color: white">
                       <img src="assets/imgs/CSS3-logo.png" width="150" height="150" alt=""/>
                      </div>
                     
                      <div class="hold left" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                      <div class="hold right" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                       </div>
                       
                    </div>
                  
                    <div class="col-md-3" align="center">
                      <div class="load">
                       <div style="font-size: 18px; font-weight: bold; ">BOOTSTRAP</div><br>
                       <div class="outer-shadow" style="height: 150px;width: 150px; color: white; padding-top: 5px">
                       <img src="assets/imgs/bootstrap.logo.png" width="140" height="140" alt=""/>
                      </div>
                     
                      <div class="hold left" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                      <div class="hold right" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                       
                       </div>
                    </div>
                  
                    <div class="col-md-3" align="center">
                      <div class="load">
                       <div style="font-size: 18px; font-weight: bold; ">JQUERY</div><br>
                       <div class="outer-shadow" style="height: 150px;width: 150px; color: white; padding-top: 5px">
                       <img src="assets/imgs/jquery-logo.png" width="140" height="140" alt=""/>
                      </div>
                     
                      <div class="hold left" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                      <div class="hold right" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                       </div>
                       
                    </div>
                  
                    <div class="col-md-3" align="center" style="padding-top: 60px">
                      <div class="load">
                       <div style="font-size: 18px; font-weight: bold; ">ANGULAR 2</div><br>
                       <div class="outer-shadow" style="height: 150px;width: 150px; color: white; padding-top: 5px">
                       <img class="img-circle" src="assets/skills/download.png" width="140" height="140" alt=""/>
                      </div>
                     
                      <div class="hold left" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                      <div class="hold right" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                       
                      </div> 
                    </div>
                  
                   <div class="col-md-3" align="center" style="padding-top: 60px">
                      <div class="load">
                       <div style="font-size: 18px; font-weight: bold; ">ANGULAR JS</div><br>
                       <div class="outer-shadow" style="height: 150px;width: 150px; color: white; padding-top: 5px">
                       <img src="assets/imgs/angularjs-logo.png" width="140" height="140" alt=""/>
                      </div>
                     
                      <div class="hold left" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                      <div class="hold right" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                       
                      </div> 
                    </div>
                  
                   <div class="col-md-3" align="center" style="padding-top: 60px">
                      <div class="load">
                       <div style="font-size: 18px; font-weight: bold; ">AJAX</div><br>
                       <div class="outer-shadow" style="height: 150px;width: 150px; color: white">
                       <img class="img-circle" src="assets/imgs/ajax.png" width="150" height="150" alt=""/>
                      </div>
                     
                      <div class="hold left" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                      <div class="hold right" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                       
                      </div> 
                    </div>
                  
                   <div class="col-md-3" align="center" style="padding-top: 60px">
                      <div class="load">
                       <div style="font-size: 18px; font-weight: bold; ">GIT</div><br>
                       <div class="outer-shadow" style="height: 150px;width: 150px; color: white; padding-top: 5px">
                       <img src="assets/imgs/git1-logo.gif" width="140" height="140" alt=""/>
                      </div>
                     
                      <div class="hold left" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                      <div class="hold right" style="height: 150px;width: 150px">
                        <div class="fill wow fadeInUp"></div>
                      </div>
                       
                      </div> 
                    </div>
                   <!--     <div class="col-md-3" align="center">
                       <div style="font-size: 18px; font-weight: bold; ">HTML5</div><br>
                        <div>
                            <img src="assets/imgs/Html5-logo.png" width="150" height="150" alt=""/>
                            
                        </div>
                    </div>
                        <div class="col-md-3" align="center">
                         <div style="font-size: 18px; font-weight: bold; ">CSS3</div><br>
                        <div>
                            
                       
                                 <img src="assets/imgs/CSS3-logo.png" width="150" height="150" alt=""/>
                            
                        </div>
                    </div>
                       
                        <div class="col-md-3" align="center">
                        <div style="font-size: 18px; font-weight: bold; ">BOOTSTRAP</div><br>
                        <div>
                            
                                 <img src="assets/imgs/bootstrap.logo.png" width="150" height="150" alt=""/>
                            
                        </div>
                    </div>
                        <div class="col-md-3" align="center">
                         <div style="font-size: 18px; font-weight: bold; ">JQUERY</div><br>
                         <div>
                            
                       
                                 <img src="assets/imgs/jquery-logo.png" width="150" height="150" alt=""/>
                            
                        </div>
                    </div>
                       
                              
                    <div class="col-md-3" align="center">
              <div style="font-size: 18px; font-weight: bold; padding-top: 20px ">AJAX</div><br>
                       <div>
                            
                       
                                 <img src="assets/imgs/ajax.png" width="150" height="150" alt=""/>
                            
                        </div>
                    </div>
                     <div class="col-md-3" align="center">
                        <div style="font-size: 18px; font-weight: bold;  padding-top: 20px">ANGULAR 2</div><br>

                          <div>
                            
                       
                                 <img src="assets/imgs/angular2-logo.png" width="150" height="150" alt=""/>
                            
                        </div>
                    </div>
                        <div class="col-md-3" align="center">
                        <div style="font-size: 18px; font-weight: bold;  padding-top: 20px">ANGULAR JS</div><br>

                        <div>
                            
                       
                                 <img src="assets/imgs/angularjs-logo.png" width="150" height="150" alt=""/>
                            
                        </div>
                    </div>
                        
                        <div class="col-md-3" align="center">
                         <div style="font-size: 18px; font-weight: bold;  padding-top: 20px">GIT</div><br>
                        <div>
                            <small></small>
                       
                                 <img src="assets/imgs/git1-logo.gif" width="150" height="150" alt=""/>
                            
                        </div>
                    </div><div class="col-md-3">
                        <div>
                            <img src="assets/skills/angularjs-training-500x500.png" width="165" height="165" alt=""/>
                            <small>Spanish</small>
                            
                        </div> 
                    </div>-->
                    
                    
                </div>
           </div>
    </div>
        </div></div>

