

 <section id="home" class="home" style="background-image: url('assets/skills/banner.jpg');">
    <div class="home-overlay"></div>
    <div class="home-content" id="scroll-down">

        <div class="home-intro">
           <!-- <div class="col-sm-3">
                <a class="logo" href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
            </div>-->

            <div class="col-sm-9">
                <h2>Hello I'm</h2>
                <h1>Renuka</h1>
                <div class="type-wrap">
                    <div id="typed-strings">
                        <span> UI Developer</span>
                        <span>Frontend / Angular  Developer</span>
                    </div>
                    <span id="typed" style="white-space:pre;"></span> 

                </div>   
                <a class="download-link hvr-shutter-out-horizontal" href="assets/cv/Renuka.P(UI).docx" target="_blank" >Download My Resume</a>

            </div>
       <!-- </div>
        <a class="scroll-down page-scroll" title="Scroll Down" href="#about"><i class="fa fa-circle" aria-hidden="true"></i></a>
    </div>-->
